/* CELINE */
/* GENERAL */

html {
    min-height: 100vh;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: inherit;
}

p {
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

/* CUSTOM */
.green-color {
    color: #32ce70 !important;
}
.done{
    text-decoration: line-through;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: ghostwhite;
}

body {
    position: relative;
}

.background-light-green {
    background-color: rgba(112, 243, 134, 0.24);
}

.background-white-ghost {
    background-color: ghostwhite;
}

.background-whitesmoke {
    background-color: whitesmoke;
}

main {
    min-height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: whitesmoke;
}

.inline {
    display: inline;
}

.z-index-4 {
    z-index: 4;
}

.z-index-3 {
    z-index: 3;
}

.max-width-900px {
    max-width: 900px;
}

.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-1 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.m-1 {
    margin: 1rem;
}

.my-05 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.p-05 {
    padding: 0.5rem;
}

.pr-05 {
    padding-right: 0.5rem;
}

.border-black {
    border: 1px solid black;
}

.box-shadow {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.h-90vh {
    height: 90vh;
}

.h-min90vh {
    min-height: 90vh;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.height-50px {
    height: 50px;
}

.height-5vh {
    height: 5vh;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.absolute-right {
    right: 0;
    top: 0;
    bottom: 0;
}

.absolute-left {
    left: 0;
    top: 0;
    bottom: 0;
}

.clickable {
    cursor: pointer;
}

.grabable {
    cursor: grab;
}

.no-border {
    border: none;
}

.text-center {
    text-align: center;
}

.overflow-scroll-y {
    overflow-y: scroll;
}

.tasks-list-home::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.tasks-list-home::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.tasks-list-home::-webkit-scrollbar-thumb {
    background-color: #707070;
}

/* SPECIFIC */
.background-white {
    background-color: white;
}

#pop-up-background {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.font-big {
    font-size: 30px;
}

.grab_arrows {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header_bonjour {
    font-size: 30px;
    font-weight: normal;
}

* {
    transition: 0.1s ease-in-out;
}

.button {
    color: #8d8d8d;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.41);
    transform: scale(1.01);
    color: black;
}

#disconnect_button, #home_button, #see_users, #new_task {
    border-radius: 100%;
    border: 1px solid grey;
    height: 5vh;
    width: 5vh;
    color: #32ce70;
    background-color: white;
    font-size: 15px;
}
button:focus{
    outline: none;
}
.list-container {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid grey;
}

.list-container:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.41);
}

#add_list {
    border-radius: 100%;
}

#add_list i {
    font-size: 50px;
}

.grey-color {
    color: #B0B0B0;
}

.icon {
    font-size: 30px;
}

input {
    background-color: inherit;
}

.input_task, #add_task {
    border-radius: 20px;
    border: 1px solid #707070;
    height: 40px;
    padding: 0.5rem;
    background-color: white;
}

.input_task:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.input_task > i {
    font-size: 20px;
}

#contenu-to_do_list {
    flex-wrap: wrap;
}

.deleteTask {
    border-radius: 100%;
    font-size: 15px;
    color: #707070;
    border: none;
}
.deleteTask:hover{
    color: #dc5a5a;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
#li-add_task{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}
#add_task{
    width:50%;
}
label{
    word-break: break-word;
}

/* MARTIN */

/* HEADER */
#nav-header {
    display: flex;
}

.border-bottom-green {
    outline: thick double #707070;
}

.bouton-header {
    cursor: pointer;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
}

.bouton-header:hover {
    background-color: rgba(112, 243, 134, 0.49);
    color: black;
}

/* FIN HEADER */
/* FOOTER */
footer {
    text-align: right;
    font-style: italic;
    color: #707070;
    background-color: ghostwhite;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
}

footer p {
    align-self: center;
}

/* FIN FOOTER */
/* INSCRIPTION */
body {
    min-height: 100vh;
}

#body_index {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

#main_index, #contenu-to_do_list {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#main_index button {
    width: 15vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #70F386;
    border: 0;
}

#container_form {
    display: flex;
    flex-direction: row;
}

.nop {
    border-color: red !important;
    outline-color: red !important;
}

.yep {
    border-color: rgb(3, 207, 3) !important;
    outline-color: rgb(3, 207, 3) !important;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#main_index input {
    width: 70%;
    height: 5vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: center;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: #A9AAAA;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

#info_inscription {
    width: 100%;
    height: fit-content;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: greenyellow;
}

.info_none {
    display: none;
}

.info_flex {
    display: flex;
    justify-content: center;
}

#main_index aside {
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    left: 2vw;
    width: 25vw;
    height: fit-content;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 10vh;
    background-color: #F7F486;
}

/* FIN INSCRIPTION */


[type="checkbox"] + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
}
/* Aspect de la case */
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
    transition: all .275s;
}

/* Aspect de la coche */
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
    content: '✕';
    position: absolute;
    top: .38em;
    left: .18em;
    font-size: 1.6em;
    color: #CB22ED;
    line-height: 0;
    transition: all .2s; /* Petite transition */
}

/* Aspect non cochée */
[type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0) rotate(45deg);
}

/* Aspect cochée */
[type="checkbox"]:checked + label::after {
    opacity: 1;
    transform: scale(1) rotate(0);
}
/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label::before,
[type="checkbox"]:disabled:checked + label::before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

/* Disabled checked */
[type="checkbox"]:disabled:checked + label::after {
    color: #777;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* Accessibility focus */
[type="checkbox"]:checked:focus + label::before,
[type="checkbox"]:not(:checked):focus + label::before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}