/* GENERAL */
html
    {
        margin: 0;
    }
body
    {
        margin: 0;
    }
/* FIN GENERAL */
/* HEADER */
#nav-header
    {
        display: flex;
        justify-content: space-around;
    }
.bouton-header
    {
        cursor: pointer;
    }
/* FIN HEADER */
/* INSCRIPTION */
#main_index
    {
        display: flex;
        flex-direction: column;        
        align-items: center;
    }
#main_index button
    {
        width: 15vw;
        padding-bottom: 2vh;
        padding-top: 2vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: #70F386;
        border: 0;
    }
#main_index span
    {
        color: blue;
    }
h1
    {
        color: green;
    }
.nop
    {
        border-color: red !important;
        outline-color: red !important;
    }
.yep
    {
        border-color: rgb(3, 207, 3) !important;
        outline-color: rgb(3, 207, 3) !important;
    }
.form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
#main_index input
    {
        width: 70%;
        height: 5vh;
        margin-bottom: 2vh;
        margin-top: 2vh;
        text-align: center;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-color: #A9AAAA;
    }
#info_inscription
    {
        width: 100%;
        height: fit-content;
        padding-top: 2vh;
        padding-bottom: 2vh;
        background-color: greenyellow;                
    }
.info_none
    {
        display: none;
    }
.info_flex
    {
        display: flex;
        justify-content: center;
    }
#main_index aside
    {
        width: 40vw;
        height: fit-content;        
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 10vh;
        background-color: #F7F486;
    }
/* FIN INSCRIPTION */