/* INSCRIPTION */
#main_index
    {
        display: flex;
        flex-direction: column;        
        align-items: center;
    }
#main_index button
    {
        width: 15vw;
        padding-bottom: 2vh;
        padding-top: 2vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: #70F386;
        border: 0;
    }
#main_index span
    {
        color: red;
    }
h1
    {
        color: green;
    }
.nop
    {
        outline: red;
    }
.yep
    {
        outline: green;
    }
.form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
#main_index input
    {
        width: 70%;
        height: 5vh;
        margin-bottom: 2vh;
        margin-top: 2vh;
        text-align: center;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-color: #A9AAAA;
    }
/* FIN INSCRIPTION */